.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*{
  font-family: "Arial";
}

.todoList-container h3{
  text-align: left;
}
.todoList-container .empty{
  text-align: left;
  margin-left: 100px;
}

.task-title{
  font-size:20px;
}

.setting-button{
  height:70px;
  width: 80px;
  margin:auto 5px;
  background-color: #2e58af;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}
button.secondary{
  background-color: mediumpurple;
}


.pomodoro-container{
  /*padding-top:20px;*/
  display: flex;
  flex-direction:column;
  align-items: center;
  margin:25px auto;
}

button{
  transition:background-color 0.5s,transform 0.5s, opacity 1s;
  border-radius:5px;
}

button:active{
  box-shadow: 0 3px #666;

}

.button-under-text{
  margin: 8px 0;
}

.pomodoro-button-item button{
  margin:5px 5px;
  width: 110px;
  height: 40px;
  border-radius:15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #efbca7;
  outline: none;
  box-shadow: 0 1px #999;
  /* transition:background-color 0.5s,transform 0.5s, opacity 1s; */
}

.pomodoro-button {
  margin-bottom: 10px;
  display: flex;
}

.pomodoro-button-item-acitve button{
  margin:5px 5px;
  width: 110px;
  height: 40px;
  border-radius:15px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  box-shadow: 0 1px #999;
  background-color: #f5754e;
}

.buttons-wrapper{
  margin-top:10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.buttons-wrapper button{
  width: 70px;
  height: 35px;
  border-radius:15px;
  margin:auto 15px;
  font-size: 13px;
  font-weight: bold;
  transition: border 1s,opacity 1s;
}

.buttons-wrapper>button:first-child{
  background-color: #2e58af;
  color:white;

}
.buttons-wrapper>button:nth-child(3n+2){
  background-color: mediumpurple;
  color: #faeaea;
}



/*clock*/
.pomodoro-timer-container > div:nth-child(1) > div:nth-child(2){
  font-size:35px;
  font-weight: bold;
  font-family: Avenir;
}

.MuiButtonBase-root:active{
  box-shadow: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
